fastapi
uvicorn[standard]
pydantic
python-multipart
requests

torch
scikit-learn
joblib
numpy
pandas
matplotlib
torchvision

pennylane
pennylane-lightning

langchain
langchain-core
langchain-community
langchain-openai
openai
tiktoken

llama-index
faiss-cpu

aiohttp
httpx
pyyaml
loguru